/*:root {
    --mainColor: #CE1069;
    --buttonOnHover: rgb(252, 213, 213);
    --textColor:white;

    } */
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sriracha&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}
header{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    margin-bottom: 50px;    
}
ul{
    height: 43px;
}
.primary ul{
    right: 0px;
    top: 0px;   
	list-style:none;
	position: fixed;
    background: #095051;
    color: white;
	margin:0;
    padding-left: 70px;
    width: 100%;
}
.primary ul a{
    display: block;
	color: white; 
	text-decoration:none;
	font-weight:400;
	font-size: 15px;
	line-height:32px;
	padding-left: 15px ;
	padding-right: 80px ;
	background: #095051;
	font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
button.storyPage,
button.aboutPage{
    border: none;
	color: white; 
	text-decoration:none;
	font-weight:400;
	font-size: 15px;
	line-height:32px;
	padding-left: 15px ;
	padding-right: 80px ;
	background: #095051;
}
.primary ul a:hover,
button.storyPage:hover,
button.aboutPage:hover{    
	color: white;   
    text-shadow: 0 0 2px white;
    -webkit-text-shadow: 0 0 2px white;
    -moz-text-shadow: 0 0 2px white;
    -o-text-shadow: 0 0 2px white;
    -ms-text-shadow: 0 0 2px white;
      -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
}
li a.homePage{   
    display: flex;
    flex-direction: column;
}
.primary ul a:active,
button.storyPage:active,
button.aboutPage:active
{
    text-decoration: underline;	
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    transition: all 50ms linear;
}
.primary ul li
{
	float:left;
	margin:0;
	padding:0;
    background: #121314;
}
.primary ul li:hover{
    background-color: #222326; 
}
main{
    max-width: 100%;
    height: 100vh;
    background-image:inherit;
    background-image:url("../img/final.png") ;
    object-fit: cover;
    background-repeat: no-repeat;    
    background-size: cover;
    font-family: 'Open Sans', sans-serif;    
}
main img{
    width: 100%;
    height: 120%;
}
div.title,
div.text,
div.interactive{
    width: 100%;
}
div.interactive p{
    width: 257px;
    height: 23px;
    margin-left: 200px;
    margin-top: 490px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
}
div.title h1{
    width: 573px;
    height: 83px;
    margin-left: 200px;
    margin-top: -15px;    
    font-family: 'Sriracha';
    font-style: normal;
    font-weight: normal;
    font-size: 74px;
    line-height: 131px;
    color: #FFFFFF; 
}
svg.underline {
    margin-left: 200px;
    margin-top: 30px;
}
div.text p{
    width: 406px;
    height: 77px;
    margin-left: 200px;
    margin-top: 30px;
    font-family: 'open sans';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
}
button.story{
    display: flex;  
    justify-content: center;
    align-items: center;   
    width: 172.6px;
    height: 47px;
    margin-left: 325px;
    margin-top: 25px;
    background: #FFFFFF;
    border-radius: 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #095051;
}
section.game{
    background-color: #095051;
    width: 100%;
    height: 100vh;
}
section.game h1{
    color: white;
}
section.game iframe{
    background-color: #095051;
    width: 100%;
    height: 100%;  
    margin-bottom: 0px;
}
section.about{
    position: relative;
    max-width: 100%;
    background-color: #042C2D;
    height: 95vh;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
}
.about h1{   
    color: #FFFFFF;   
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
}
.about h4{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}
a.yrgo{
    color: #FFFFFF;    
}
div.team{
    display: flex;
    flex-direction: row;
    margin-left:88px;
    margin-top: 15px;    
    justify-content: space-around;
    width: 250px; 
    height: 50px;    
    position: absolute;

}
svg.last{
    margin-top: 17px;    
}
.cards{   
    position: absolute;
    top: 150px;   
}
.card{
    display: flex;
    flex-direction: column;   
    background-color: #042C2D;
    justify-content: center;
}
div.card{
    border: none;
}
.card.one{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100px;    
}
.card.two{
    left: 370px;
    position: absolute;   
}
.card.three{
    left: 620px;
    position: absolute;    
}
.card.four{
    left: 886px;
    position: absolute;    
}
.card.five{
    left: 1136px;
    position: absolute;   
}
.card-body{
    padding: 0px;
    text-align: start;
    width: 100px;    
}
.card-img-top{
    width: 172px;
    height: 172px;    
    border-radius: 100%;   
}
.card-name{
    position: absolute;
    width: 178.7px;
    height: 10px;  
    top: 225px;  
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 23px;
    display: flex;
    align-items: center;    
    color: #FFFFFF;
}
.card-title{
    position: absolute;
    width: 150px;
    height: 10px; 
    top: 200px;  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #03E0D8;
}
.card-text{
    position: absolute;
    width: 196.96px;
    height: 138px;   
    top: 250px;    
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150.69%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

